# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.log

# Android
android/.gradle/
android/captures/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.keystore
*.jks

# iOS
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# 出力ファイル
output/
*.csv
